<?xml version='1.0' encoding='utf-8'?>
<widget id="de_nieuwe_stad" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>De Nieuwe Stad</name>
    <description>
        De Nieuwe Stad App.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        JADICA4A7B Groep 4
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-bluetoothle" spec="~4.5.3" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
</widget>
